.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.btn-outline-info {
    margin-left: 30px;
}

.js-input-name {
    max-width: 200px;
}

.js-link {
    text-decoration: none;
    color: #198754;
}

.js-save-btn:hover>.js-link {
    color: #ffff;
    transition: 0.15s ease-in-out;
}

.js-answered-users {
    margin-right: 50px;
}